.navbar {
    height: 30px;
    width: auto;
    padding-top: 0px;
    padding-right: 6px;
    vertical-align: middle;
    
}

.navbar{
    background-color: #3b5998;
    background: #3b5998;
    color: #ffffff;
    height: 42px;

}

